<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Merchant Management</h1>
  </div>
  <!-- Page Title End -->
  <div class="content-section">
      <form class="login_box_outer" [formGroup]='merchantForm'>
          <div class="order-view mt30 max-WT-700 mrgn-0-auto">
          <div class="main-block-innner mb40 mt40">
              <div class="add-store-block input-style max-WT-600">
                  <div class="form-group row align-items-center">
                    
                          <label class="col-md-4"><span style="color: red">*</span>First Name </label>
                          <div class="col-md-8">
                              <input type="text" class="form-control"  formControlName='fname'  placeholder="First Name" maxlength="100" id='fname'>
                              <div class="errMsg" *ngIf="merchantForm.get('fname').dirty && merchantForm.get('fname').invalid"> 
                                    <span style='color:red'  *ngIf="merchantForm.get('fname').hasError('required')">*Please enter first name.</span>
                                    <span style='color:red'  *ngIf="merchantForm.get('fname').hasError('pattern')">*Please enter valid first name.</span>
                              </div>
                          </div>
                    
                  </div>
                  <div class="form-group row align-items-center">
              
                      <label class="col-md-4"><span style="color: red">*</span>Last Name </label>
                      <div class="col-md-8">
                          <input type="text" class="form-control " formControlName='lname'  placeholder="Last Name"  maxlength="100"  id='lname'>
                          <div class="errMsg" *ngIf="merchantForm.get('lname').dirty && merchantForm.get('lname').invalid"> 
                                <span style='color:red'  *ngIf="merchantForm.get('lname').hasError('required')">*Please enter last name.</span>
                                <span style='color:red'  *ngIf="merchantForm.get('lname').hasError('pattern')">*Please enter valid last name.</span>
                              </div>
                      </div>
                 
                  </div>
                  <div class="form-group row align-items-center">
               
                      <label class="col-md-4"><span style="color: red">*</span>Email </label>
                      <div class="col-md-8">
                          <input type="email" class="form-control " formControlName='email'  placeholder="Email"  maxlength="100"  id='email'>
                          <div  class="errMsg" *ngIf="merchantForm.get('email').dirty && merchantForm.get('email').invalid"> 
                                <span style='color:red'  *ngIf="merchantForm.get('email').hasError('required')">*Please enter email.</span>
                                <span style='color:red'  *ngIf="merchantForm.get('email').hasError('pattern')">*Please enter valid email.</span>
                          </div>
                  
                    </div>
                  </div>
                  <div class="form-group row align-items-center" *ngIf="service.pageIs=='addMerchant'">
                 
                      <label class="col-md-4"><span style="color: red">*</span>Password </label>
                      <div class="col-md-8">
                          <input type="password" class="form-control " formControlName='password'  placeholder="Password"  maxlength="16"  id='password'>
                          <div class="errMsg" *ngIf="merchantForm.controls['password'].dirty && merchantForm.controls['password'].invalid">
                                <span style='color:red'  *ngIf="merchantForm.controls['password'].hasError('required')">*Please enter a password.</span>
                                <span style='color:red'  *ngIf="merchantForm.controls['password'].hasError('minlength')">*Password must be between 8 to 16 characters.</span>
                                <span style='color:red'  *ngIf="merchantForm.controls['password'].hasError('pattern') && !merchantForm.controls['password'].hasError('minlength')">*Please enter valid password.</span>
                              </div>
                 
                    </div>  
                  </div>
                  <div class="form-group row align-items-center">
                     <label class="col-md-4"><span style="color: red">*</span>Phone No. </label>
                     <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                           <select class="form-control select2" formControlName='prefix' >
                               <option value=''>Select country code</option>
                              <option *ngFor="let country of codeArray" [value]="country.code">{{country.code}} ( {{country.country}} )</option> 
                           </select>
                        </div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control " formControlName='phoneNum'  placeholder="Phone Number" maxlength="14">
                            <div class="errMsg" *ngIf="merchantForm.controls['phoneNum'].dirty && merchantForm.controls['phoneNum'].invalid">
                            <span style='color:red'  *ngIf="merchantForm.controls['phoneNum'].hasError('required')">*Please enter a phone number.</span>
                            <span style='color:red'  *ngIf="merchantForm.controls['phoneNum'].hasError('minlength')">*Phone number must be between 7 to 14 digits long.</span>
                            <span style='color:red'  *ngIf="merchantForm.controls['phoneNum'].hasError('pattern') && !merchantForm.controls['phoneNum'].hasError('minlength')">*Please enter valid mobile number.</span>
                            </div>
                            </div>
                        </div> 
                      </div>
                  </div>
                  <div class="form-group row align-items-center" >
               
                     <label class="col-md-4">Address</label>
                     <div class="col-md-8">
                          <div class="input-container d-flex justify-content-start mb10">
                                <input  type="text" class="google-place-input form-control w-100 d-inline-block" formControlName='address'  google-place (onSelect)="setAddress($event)" placeholder="Type to search.." id='location'>                              
                                <!-- <button (click)='getLocation()' class="btn  btn-theme mL8">Set Address</button> -->
                            </div>
                        </div>
                         
                        <!-- <div class="col-md-12 pL0"> -->
                           <!-- <input class="form-control select2" formControlName='country'  placeholder="Country"  maxlength="40"> -->
                           <!-- <select class="form-control select2" formControlName='country' (change)="onSelectCountry()">
                                <option value=''>Select Country</option>
                               <option *ngFor="let country of codeArray" [value]="country.country"> {{country.country}} </option> 
                            </select>
                           <div class="errMsg" *ngIf="merchantForm.get('country').dirty && merchantForm.get('country').invalid"> 
                                <span style='color:red'  *ngIf="merchantForm.get('country').hasError('required')">*Please enter country.</span> -->
                                <!-- <span style='color:red'  *ngIf="merchantForm.get('country').hasError('pattern')">*Please enter valid country.</span> -->
                          <!-- </div>                                
                        </div>  -->
                        <!-- <div class="col-md-6 mt10 pL0"> -->
                           <!-- <input class="form-control select2" formControlName='state'  placeholder="State"  maxlength="40"> -->
                           <!-- <select class="form-control select2" formControlName='state' >
                                <option value=''>Select State</option>
                               <option *ngFor="let state of statesArr" [value]="state"> {{state}} </option> 
                            </select>
                           <div class="errMsg" *ngIf="merchantForm.get('state').dirty && merchantForm.get('state').invalid"> 
                                <span style='color:red'  *ngIf="merchantForm.get('state').hasError('required')">*Please enter state.</span> -->
                                <!-- <span style='color:red'  *ngIf="merchantForm.get('state').hasError('pattern')">*Please enter valid state.</span> -->
                          <!-- </div>
                                
                        </div>  -->
                        <!-- <div class="col-md-6 mt10 pL0">
                            <input type="text" class="form-control " formControlName='addLine1' placeholder="Locality"  maxlength="40">
                        </div>
                        <div class="col-md-6 mt10 pL0">
                            <input type="text" class="form-control " formControlName='pin' placeholder="Pin"  maxlength="7">
                            <div class="errMsg" *ngIf="merchantForm.get('pin').dirty && merchantForm.get('pin').invalid"> 
                                  <span style='color:red'  *ngIf="merchantForm.get('pin').hasError('required')">*Please enter pin.</span>
                                  <span style='color:red'  *ngIf="merchantForm.get('pin').hasError('pattern')">*Please enter valid pin.</span>
                              </div>
                        </div> -->
                   
                      </div>
                      <div class="form-group row align-items-center">
              
                        <label class="col-md-4"><span style="color: red">*</span>Company Name </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control " formControlName='compName'  placeholder="Company Name"  maxlength="100"  id='compName'>
                            <div class="errMsg" *ngIf="merchantForm.get('compName').dirty && merchantForm.get('compName').invalid"> 
                                  <span style='color:red'  *ngIf="merchantForm.get('compName').hasError('required')">*Please enter company name.</span>
                                  <span style='color:red'  *ngIf="merchantForm.get('compName').hasError('pattern')">*Please enter valid company name.</span>
                                </div>
                        </div>
                   
                    </div>
                    <div class="form-group row align-items-center">
              
                        <label class="col-md-4">Registration Number </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control " formControlName='regNumber'  placeholder="Registration Number"  maxlength="100"  id='regNumber'>
                            <div class="errMsg" *ngIf="merchantForm.get('regNumber').dirty && merchantForm.get('regNumber').invalid">                                  
                                  <span style='color:red'  *ngIf="merchantForm.get('regNumber').hasError('pattern')">*Please enter valid registration number.</span>
                                </div>
                        </div>
                   
                    </div>
                  
                   <div class="form-group row align-items-center">
              
                      <label class="col-md-4">Merchant Website </label>
                      <div class="col-md-8">
                          <input type="text" class="form-control " formControlName='website'   placeholder="Website URL"  maxlength="100"  id='website'>
                          <div class="errMsg" *ngIf="merchantForm.get('website').dirty && merchantForm.get('website').invalid"> 
                                <span style='color:red'  *ngIf="merchantForm.get('website').hasError('required')">*Please enter website.</span>
                                <span style='color:red'  *ngIf="merchantForm.get('website').hasError('pattern')">*Please enter valid website.</span>
                          </div>
                          <span style="color: gray">Hint: http://www.dummy.com</span>
                      
                    </div>  
                  </div>
                  <div class="form-group row align-items-center">
                  <label class="col-md-4">Merchant Logo :</label>
                        <div class="col-md-8">
                            <div class="user-profile ">
                               <div class="image-box mb0">
                                   <img src="{{imageUrl || 'assets/img/placeholder.png' }}" class="profile-pic"> 
                                    <label class="upload-label">
                                     <input type="file" name="" (change)='fileSelect($event)' accept="image/jpeg,image/jpg,image/png,image/ico">
                                      <i class="fas fa-camera"></i>
                                      <!-- <div class="errMsg" *ngIf="merchantForm.get('image').dirty && merchantForm.get('image').invalid"> 
                                              <span  [ngClass]="{error:merchantForm.get('image').hasError('required')}" *ngIf="merchantForm.get('image').hasError('required')">*Please select banner image.</span>
                                      </div> -->
                                  </label>
                              </div>
                            </div>
                        </div>
                    </div>
                  
                  
                  <div class="text-center mt40">
                    <a (click)='back()' class="btn btn-large  max-WT-200 font-100 btn-grey ml5" style="margin-right: 10px;">Back</a>
                      <button (click)='save()' class="btn btn-large  max-WT-200 font-100 btn-green" [disabled]='merchantForm.invalid' type='button'>Save</button>
                  </div>
              </div>
          </div>
      </div>
      </form>
  </div>
</main>
<app-header-footer></app-header-footer>
