<div class="login-wrapper">
  <div class="container-common">
     <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center minheight70vh">
        <form class="login_box_outer w-100" action="forgot-password-validation.html">
          <div class="login-box max-WT-520">
              <div class="login-right-block">
                <div class="login-heading">
                   <h4>FORGOT PASSWORD</h4>
                </div>
                <form [formGroup]='forgetForm'>
                <div class="login-box-body">
                  <p class="common-paragrph text-center">Please enter your registered email address so that we can send you reset instruction</p>
                  <div class="form-group">
                      <label class="col-md-5"><span style="color: red">*</span>E-Mail :</label>
                      <input type="email" class="form-control" placeholder="Email Address" formControlName='email' id='email'  maxlength="30"/>
                      <div class="errMsg" *ngIf="forgetForm.get('email').dirty && forgetForm.get('email').invalid"> 
                          <span  [ngClass]="{error:forgetForm.get('email').hasError('required')}" *ngIf="forgetForm.get('email').hasError('required')">*Please enter email.</span>
                          <span  [ngClass]="{error:forgetForm.get('email').hasError('pattern')}" *ngIf="forgetForm.get('email').hasError('pattern')">*Please enter valid email.</span>
                        </div>
                    </div>
                  </div>
                    <div class="text-center mt40">
                      <button type="submit" class="btn btn-login btn-large  width100 font-100" (click)="submit()" [disabled]='forgetForm.invalid' >SUBMIT</button>
                    </div>
                  </form>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
<footer class="before-login">
  <p>Copyright © 2018 BMCT  All rights reserved.</p>
</footer>