<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Banner Management</h1>
      <!-- <div class="common-bredcrumb">
          <ol class="breadcrumb">

              <li class="breadcrumb-item active">User Management</li>
          </ol>

      </div> -->
  </div>
  <!-- Page Title End -->
  <div class="content-section">
    <div class="sec_head_new sec_head_new_after">
        <div class="row align-items-center">
          <div class="col-md-6 col-xl-3">
              <div class="filter_search mb10 width100">
                <div class="input-group filter_search_group">                       
                    <input type="text" class="form-control" placeholder="Search by banner text" id='searchData'>                   
                    <div class="input-group-append">
                        <i class=" btn_search_group fas fa-times cursor" (click)='clearSearch()'></i> 
                    </div>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-xl-2">
              <div class="text-left mb10">
                  <button type="submit" class="btn  btn-theme" (click)='searchFilter()'>Search</button>
              </div>
          </div>
      </div>
    </div>
    <div class="clearfix"> 
       <div class="mb10 show-txt f-left">
              <span>Show</span>
              <select name="" class="form-control form-control2 select_opt cursor" id='itemsPP' (change)='limitChange()'>
                    <option value="5" selected="">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
              <span>from all</span>
            </div>
            <div class="f-right">
               <a class="btn btn-primary" (click)='addBanner()' style="color: white; cursor: pointer;">
                  <i class="fa fa-plus"></i> Add Banner
               </a>
            </div>
    </div>
      <div class="outer-box">

          <!-- Gloabl Table Box Start -->
          <div class="global-table no-radius p0">

              <div class="tab-content1">
                  <div class="tab-pane1">
                      <div class="table-responsive">
                          <table class="table table-bordered">
                              <thead>
                                  <tr class="no_wrap_th">
                                    <th>S.NO.</th>
                                      <th>Banner Images </th>
                                      <th>Banner Text </th>
                                      <th class="action_td_btn3">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor='let banner of bannerArray | paginate: { itemsPerPage:itemPP, currentPage: currPage, totalItems: pageSize } ;let i=index'>
                                    <td>{{srNo+(i+1)}}</td>
                                      <td>
                                         <img src="{{banner.banners}}" style="max-width:80px;">
                                      </td>
                                      <td class="word-break">{{banner.text}}</td>
                                      <td class="action_td_btn3">
                                          
                                          <a (click)='view(banner)' class="cursor"  data-toggle="View"  ><i  class="fa fa-eye"></i>
                                            <span class="icon-tooltip">view</span>
                                        </a>                                 

                                           <a (click)='edit(banner)' class="cursor" data-toggle="Edit" ><i class="fa fa-edit"></i>
                                            <span class="icon-tooltip">edit</span>
                                        </a>                                           

                                           <a (click)='delete(banner)' class="cursor" data-toggle="Delete"  ><i class="fa fa-trash"></i>
                                            <span class="icon-tooltip">view</span>
                                        </a>                                           
                                      </td>
                                  </tr>
                                  <!-- <tr>
                                    <td>2</td>
                                      <td>
                                         <img src="assets/img/profile-img.jpg" style="max-width:80px;">
                                      </td>
                                      <td>Lorem.....</td>
                                      <td class="action_td_btn3">
                                           <a (click)='view()'><i class="fa fa-eye"></i></a>
                                           <a (click)='edit()'><i class="fa fa-edit"></i></a>
                                           <a (click)='delete()'><i class="fa fa-trash"></i></a>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                      <td>
                                         <img src="assets/img/profile-img.jpg" style="max-width:80px;">
                                      </td>
                                      <td>Lorem.....</td>
                                      <td class="action_td_btn3">
                                           <a (click)='view()'><i class="fa fa-eye"></i></a>
                                           <a (click)='edit()'><i class="fa fa-edit"></i></a>
                                           <a (click)='delete()'><i class="fa fa-trash"></i></a>
                                      </td>
                                  </tr> -->
                              </tbody>
                          </table>
                      </div>
                      <div class="custom-pagination mt20 text-right">
                          <nav aria-label="Page navigation example">
                                <div class="pagination_block" *ngIf="bannerArray.length ">
                                        <ul class="pagination">
                                          <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                                        </ul>
                                </div>
                          </nav>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
  <!-- Table Responsive End -->
</main>
<!-- Middle Content End -->
<app-header-footer></app-header-footer>
<div class="modal fade global-modal reset-modal" id="delete_modal">
        <div class="modal-dialog max-WT-500">
            <div class="modal-content">
                <div>
                    <!-- Modal body -->
                    <div class="modal-body  text-center">
                        <div class="row align-items-center modal_flax_height">
                            <div class="col">
                                <div class="box-title mb40 d-inline-block">
                                    <i class="fas fa-trash off-icon"></i>
                                    <p class="mt40">Are you sure you want to delete this banner ?</p>
                                </div>
                                <div class="text-center">
                                    <a data-dismiss="modal" class="btn btn-blue btn-noYes" style="color: white; cursor: pointer;">BACK</a>
                                    <a (click)='deleteYes()' class="btn btn-red btn-noYes"  style="color: white; cursor: pointer;">YES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>