<main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Subadmin Management</h1>
        <!-- <div class="common-bredcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active">User Management</li>
            </ol>

        </div> -->
    </div>
    <!-- Page Title End -->
    <div class="content-section">
      <div class="sec_head_new sec_head_new_after">
          <div class="row align-items-center">
            <!-- <div class="col-md-6 col-xl-3">
                <div class="form-group">
                   <input type="text" name="" class="form-control datepicker">
                </div>
            </div> -->
            <div class="col-md-6 col-xl-3">
                <div class="filter_search mb10 width100">
                  <div class="input-group filter_search_group">
                      <input type="text" class="form-control" placeholder="Search by name and Email-ID" id='search'>
                      <div class="input-group-append">
                            <i class="  btn_search_group fas fa-times cursor" (click)='clearSearch()'></i> 
                        </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-xl-2">
                <div class="text-left mb10">
                    <button type="submit" class="btn  btn-theme" (click)='search()' >Search</button>
                </div>
            </div>
        </div>
      </div>
      <div class="clearfix"> 
         <div class="mb10 show-txt f-left">
                <span>Show</span>
                <select name="" class="form-control form-control2 select_opt" id='itemsPP' (change)='limitChange()'>
                    <option value="5" selected="">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <span>from all</span>
              </div>
              <div class="f-right">
                 <a class="btn btn-primary" (click)='addSubadmin()' style="color: white; cursor: pointer;" >
                    <i class="fa fa-plus" ></i> Add Subadmin
                 </a>
              </div>
      </div>
        <div class="outer-box">

            <!-- Gloabl Table Box Start -->
            <div class="global-table no-radius p0">

                <div class="tab-content1">
                    <div class="tab-pane1">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="no_wrap_th">
                                      <th>ID</th>
                                        <th>Name</th>
                                        <th>Email </th>
                                        <th>Phone No. </th>
                                        <th>Last Logged In </th>
                                        <th class="action_td_btn3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let subAdmin of subAdmins | paginate: { itemsPerPage:itemPP, currentPage: currPage, totalItems: pageSize }; let i=index'>
                                      <td>{{subAdmin.subAdmin_id}}</td>
                                        <td>{{subAdmin.name}}</td>
                                        <td>{{subAdmin.email}}</td>
                                        <td>{{subAdmin.phoneNumber}}</td>
                                        <td>{{subAdmin.lastLogin}}</td>
                                        <td class="action_td_btn3">
                                            <a (click)='view(subAdmin)' ><i class="cursor fa fa-eye"  data-toggle="View"  ></i>
                                            <span class="icon-tooltip">view</span>
                                            </a>
                                             <a *ngIf='subAdmin.access[0] != "BLOCK"' (click)='banModal(subAdmin)' href="#block_modal" data-toggle="modal"><i class="fa fa-ban"  data-toggle="Block"  ></i>
                                            <span class="icon-tooltip">block</span>
                                            </a>
                                            <a *ngIf='subAdmin.access[0] === "BLOCK"' (click)='banModal(subAdmin)' href="#block_modal" data-toggle="modal"><i style='color: green' class="fa fa-check"  data-toggle="Block"  ></i>
                                                <span class="icon-tooltip">unblock</span>
                                                </a>
                                             <a (click)='trashModal(subAdmin)' href="#delete_modal" data-toggle="modal"><i class="fa fa-trash"  data-toggle="Delete" ></i>
                                            <span class="icon-tooltip">delete</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!subAdmins.length">
                                            <td colspan="6" class="text-center">No data found.</td>
                                        </tr>
                                 
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-pagination mt20 text-right">
                            <nav aria-label="Page navigation example">
                                    <div class="pagination_block" *ngIf="subAdmins.length ">
                                            <ul class="pagination">
                                              <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
                                            </ul>
                                    </div>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Table Responsive End -->
</main>
<app-header-footer></app-header-footer>

<div class="modal fade global-modal reset-modal" id="block_modal">
    <div class="modal-dialog max-WT-500">
        <div class="modal-content">
            <div>
                <!-- Modal body -->
                <div class="modal-body  text-center">
                    <div class="row align-items-center modal_flax_height">
                        <div class="col">
                            <div class="box-title mb40 d-inline-block">
                                <i class="fas fa-ban off-icon"></i>
                                <p class="mt40">Are you sure you want to block the Sub Admin ?</p>
                            </div>
                            <div class="text-center">
                                <a style="color: white; cursor: pointer; margin-right: 10px;" data-dismiss="modal" class="btn btn-blue btn-noYes">BACK</a>
                                <button style="color: white; cursor: pointer;" type="button" class="btn btn-red btn-noYes"  (click)='banYes()'>YES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block_modal Modal -->

  <div class="modal fade global-modal reset-modal" id="delete_modal">
    <div class="modal-dialog max-WT-500">
        <div class="modal-content">
            <div>
                <!-- Modal body -->
                <div class="modal-body  text-center">
                    <div class="row align-items-center modal_flax_height">
                        <div class="col">
                            <div class="box-title mb40 d-inline-block">
                                <i class="fas fa-trash off-icon"></i>
                                <p class="mt40">Are you sure you want to delete this sub-admin ?</p>
                            </div>
                            <div class="text-center">
                                <a style="color: white; cursor: pointer; margin-right: 10px;" data-dismiss="modal" class="btn btn-blue btn-noYes">BACK</a>
                                <button style="color: white; cursor: pointer;" type="button" class="btn btn-red btn-noYes" (click)='deleteYes()'>YES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block_modal Modal -->