   <!-- Aside End -->
<div class="wrapper">
   <main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Dashboard</h1>
       <!--  <div class="common-bredcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>

        </div> -->
    </div>
    <!-- Page Title End -->
    <div class="content-section dashboard-block" >
       <div class="row">
          <div class="col-12">
             <div class="map-block" id="map_canvas" style="height:650px;">
             </div>
          </div>
       </div>
     
    </div>
</main>
</div>
<app-header-footer></app-header-footer>
<!-- Middle Content End -->