<!--Header Start Here-->
<div class="headers">
  <div class="menuiconbx">
    <div class="sidelogobx">  
      <div class="sidelogo"></div>
    </div>
    <a id="menu-toggle" class="sidemenubtn" >Toggle Menu</a>
    <div class="pgnm" >Dashboard</div>
    <div class="header_rtbx">
      <div class="notification_header"><i class="glyphicon glyphicon-bell" aria-hidden="true"></i><span class="topdigit">3</span></div>
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="Search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span> </div>
      </form>
    </div>
  </div>
</div>
<!--Header End Here--> 