<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Merchant Management</h1>
  </div>
  <!-- Page Title End -->
  <div class="content-section">
      <form class="login_box_outer" >
          <div class="order-view mt30 max-WT-700 mrgn-0-auto">
              <div class="main-block-innner mb40 mt40">
                  <div class="add-store-block input-style">
                      <div class="form-group row mb40 align-items-center">
                          <label class="col-md-5">Banner Image :</label>
                          <div class="col-md-7">
                              <div class="bannerimage-block">
                                 <img src="{{bannerDetails.banners}}">
                              </div>
                          </div>
                      </div>
                      <div class="form-group row align-items-start">
                          <label class="col-md-5">Banner Description :</label>
                          <div class="col-md-7">
                              <p class="word-break">
                                {{bannerDetails.text}}
                              </p>
                          </div>
                      </div>
                      <div class="text-center mt40">
                         <a  class="btn btn-large  max-WT-150 font-100 btn-grey" [routerLink]="['/banner-management']">Back</a>
                          <a  class="btn btn-large  max-WT-150 font-100 btn-green mL10" (click)='edit()'>Edit</a>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</main>
<!-- Middle Content End -->
<app-header-footer></app-header-footer>
