<main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Merchant Management</h1>
    </div>
    <!-- Page Title End -->
    <div class="content-section">
        <form class="login_box_outer" >
          <div class="order-view mt30 max-WT-700 mrgn-0-auto">
            <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                               <div class="image-box text-center mb20">
                                    <img src="{{profile?.logo || 'assets/img/profile-img.jpg'}}" class="profile-pic"> 
                               </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">First Name :</label>
                        <div class="col-md-6">
                            <label>{{profile?.fName}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Last Name :</label>
                        <div class="col-md-6">
                            <label>{{profile?.lName}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline" *ngIf='profile?.email_ID'>
                        <label class="col-md-6">Email :</label>
                        <div class="col-md-6">
                            <label>{{profile?.email_ID}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Phone No :</label>
                        <div class="col-md-6">
                            <label>{{profile?.countryCode}} - {{profile?.phoneNumber}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Address :</label>
                        <div class="col-md-6">
                            <label>{{profile?.location.place}}</label>
                        </div>
                    </div>
                    <!-- <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Zip :</label>
                        <div class="col-md-6">
                            <label>{{profile?.location.zidCode}}</label>
                        </div>
                    </div> -->
                    <div class="form-group row align-items-baseline" *ngIf='profile?.merchantWebsite'>
                        <label class="col-md-6">Merchant Website :</label>
                        <div class="col-md-6">
                            <label>{{profile?.merchantWebsite}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline" *ngIf='profile?.companyName'>
                        <label class="col-md-6">Company Name :</label>
                        <div class="col-md-6">
                            <label>{{profile?.companyName}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline" *ngIf='profile?.registrationNumber'>
                        <label class="col-md-6">Registration Number :</label>
                        <div class="col-md-6">
                            <label>{{profile?.registrationNumber}}</label>
                        </div>
                    </div>
                    <div class="text-center mt40">
                       
                        <a (click)='back()' class="btn btn-large  max-WT-200 font-100 btn-grey ml5">Back</a>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>
<app-header-footer></app-header-footer>
