<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Change Password</h1>
  </div>
  <!-- Page Title End -->
  <div class="content-section">
      <form class="login_box_outer" >
          <div class="order-view mt30 max-WT-700 mrgn-0-auto">
              <div class="main-block-innner mb40 mt40">
                  <div class="add-store-block input-style">
                      <form [formGroup]='passwordForm'>
                      <div class="form-group row align-items-center">
                            <label class="col-md-4"><span style="color: red">*</span>Old Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" formControlName='oldPassword'  maxlength="16" placeholder="Current Password">
                                <div class="errMsg" *ngIf="passwordForm.get('oldPassword').dirty && passwordForm.get('oldPassword').invalid"> 
                                        <span  [ngClass]="{error:passwordForm.get('oldPassword').hasError('required')}" *ngIf="passwordForm.get('oldPassword').hasError('required')">*Please enter password.</span>
                                        <span  [ngClass]="{error:passwordForm.get('oldPassword').hasError('minlength') && !passwordForm.get('oldPassword').hasError('required')}" *ngIf="passwordForm.get('oldPassword').hasError('minlength') && !passwordForm.get('oldPassword').hasError('required')">*Password must be of minimum 8 characters.</span>
                                </div>
                            </div>
                      </div>
                      <div class="form-group row align-items-center">
                          <label class="col-md-4"><span style="color: red">*</span>New Password</label>
                          <div class="col-md-8">
                              <input type="password" class="form-control"  formControlName='newPassword' maxlength="16" id='newPassword' placeholder="New Password">
                              <div class="errMsg" *ngIf="passwordForm.get('newPassword').dirty && passwordForm.get('newPassword').invalid"> 
                                    <span  [ngClass]="{error:passwordForm.get('newPassword').hasError('required')}" *ngIf="passwordForm.get('newPassword').hasError('required')">*Please enter password.</span>
                                    <span  [ngClass]="{error:passwordForm.get('newPassword').hasError('minlength') && !passwordForm.get('newPassword').hasError('required')}" *ngIf="passwordForm.get('newPassword').hasError('minlength') && !passwordForm.get('newPassword').hasError('required')">*Password must be of minimum 8 characters.</span>
                                 </div>
                          </div>
                      </div>
                      <div class="form-group row align-items-center">
                          <label class="col-md-4"><span style="color: red">*</span>Confirm Password</label>
                          <div class="col-md-8">
                              <input type="password" class="form-control"  formControlName='confirmPassword'  maxlength="16" id='confirmPassword' placeholder="Confirm Password">
                              <div class="errMsg" *ngIf="passwordForm.get('newPassword').value && passwordForm.get('confirmPassword').value && !passwordForm.get('newPassword').invalid">                                   
                                    <span  [ngClass]="{error:passwordForm.get('newPassword').value != passwordForm.get('confirmPassword').value }" *ngIf='passwordForm.get("newPassword").value != passwordForm.get("confirmPassword").value '>*Password and confirm password does not match. </span>
                                 </div>
                          </div>
                      </div>
                      <div class="text-center mt40">
                          <button  (click)='OK()' class="btn btn-large  max-WT-150 font-100 btn-green" [disabled]='passwordForm.invalid  || (passwordForm.get("newPassword").value != passwordForm.get("confirmPassword").value)'>OK</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </form>
  </div>
</main>
<!-- Middle Content End -->
<app-header-footer></app-header-footer>
