<footer class=footer-reg>
  <div class="footer-content">
  <div class="container-fluid">
    <div class="row align-items-center">
     <div class="col-md-8">
       <div class=" static_footerlink">
          <ul class="list-inline short_links">
            <li class="footer-menu">
                <a [routerLink]="['/termsAndConditions']">Terms & Services</a>
            </li>
            <li class="footer-menu">
                <a [routerLink]="['/privacyPolicy']">Privacy Policy</a>
            </li>
        </ul>
       </div>
     </div>
     <div class="col-md-4">
       <div class="social-menu text-right">
          <a ><i class="fab fa-facebook-f"></i></a>
          <a ><i class="fab fa-twitter"></i></a>
          <a ><i class="fab fa-google-plus-g"></i></a>
          <a ><i class="fab fa-instagram"></i></a>
          <a ><i class="fab fa-pinterest-p"></i></a>
        </div>
     </div>
      
    </div>
  </div>
</div>
</footer>