<main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Add Subadmin</h1>
    </div>
    <!-- Page Title End -->
    <div class="content-section">
        <form class="login_box_outer" >
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
            <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                    <form [formGroup]='subadminForm'>
                    <div class="user-profile">
                     <div class="image-box">
                         <img src="{{imageUrl || 'assets/img/profile-img.jpg' }}" class="profile-pic"> 
                          <label class="upload-label">
                           <input type="file" name=""  (change)='fileSelect($event)' accept="image/jpeg,image/jpg,image/png,image/ico">
                            <i class="fas fa-camera"></i>
                        </label>
                    </div>

                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-4"><span style="color: red">*</span>Name :</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control "  formControlName='name' maxlength="100">
                            <div class="errMsg" *ngIf="subadminForm.get('name').dirty && subadminForm.get('name').invalid"> 
                                <span style='color:red'  *ngIf="subadminForm.get('name').hasError('required')">*Please enter name.</span>
                                <span style='color:red'  *ngIf="subadminForm.get('name').hasError('pattern')">*Please enter valid name.</span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-4"><span style="color: red">*</span>Email :</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control "   formControlName='email'  maxlength="100">
                            <div class="errMsg" *ngIf="subadminForm.get('email').dirty && subadminForm.get('email').invalid"> 
                                <span style='color:red'  *ngIf="subadminForm.get('email').hasError('required')">*Please enter email.</span>
                                <span style='color:red'  *ngIf="subadminForm.get('email').hasError('pattern')">*Please enter valid email.</span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-4"><span style="color: red">*</span>Phone :</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control "  formControlName='phone'  maxlength="14">
                            <div class="errMsg" *ngIf="subadminForm.get('phone').dirty && subadminForm.get('phone').invalid"> 
                                <span style='color:red'  *ngIf="subadminForm.get('phone').hasError('required')">*Please enter phone number.</span>
                                <span style='color:red'  *ngIf="subadminForm.get('phone').hasError('pattern')">*Please enter valid phone number.</span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-4"><span style="color: red">*</span>Password :</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control "  formControlName='password'  maxlength="16">
                            <div class="errMsg" *ngIf="subadminForm.get('password').dirty && subadminForm.get('password').invalid"> 
                                <span  [ngClass]="{error:subadminForm.get('password').hasError('required')}" *ngIf="subadminForm.get('password').hasError('required')">*Please enter password.</span>
                                <span  [ngClass]="{error:subadminForm.get('password').hasError('minlength') && !subadminForm.get('password').hasError('required')}" *ngIf="subadminForm.get('password').hasError('minlength') && !subadminForm.get('password').hasError('required')">*Password must be of minimum 8 characters.</span>
                             </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-md-4"><span style="color: red">*</span>Confirm Password :</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control "   formControlName='confirmPassword'  maxlength="16">
                            <div class="errMsg" *ngIf="subadminForm.get('password').value && subadminForm.get('confirmPassword').value">                                   
                                <span  [ngClass]="{error:subadminForm.get('password').value != subadminForm.get('confirmPassword').value }" *ngIf='subadminForm.get("password").value != subadminForm.get("confirmPassword").value '>*Password and confirm password does not match. </span>
                             </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-start">
                        <label class="col-md-4">Access :</label>
                        <div class="col-md-8">
                            <div class="checkblock">
                               <label class="checkbox-design">
                                  <input type="checkbox" value='merchantManagement' formControlName='accessMerchant'><span></span>Merchant Management
                               </label>
                            </div>
                            <div class="checkblock">
                               <label class="checkbox-design">
                                  <input type="checkbox"  value='bannerManagement' formControlName='accessBanner'><span></span>Banner Management
                               </label>
                            </div>
                            <div class="checkblock">
                               <label class="checkbox-design">
                                  <input type="checkbox"  value='staticContentManagement' formControlName='accessStatic'><span></span>Static Content Management
                               </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt40">
                        <button (click)='save()' class="btn btn-large  max-WT-200 font-100 btn-green" [disabled]='subadminForm.invalid || !imageUrl'>Save</button>
                        <button (click)='cancel()' class="btn btn-large  max-WT-200 font-100 btn-grey ml5">Cancel</button>
                    </div>                
                </form>
            </div>
            </div>
        </div>
        </form>
    </div>
</main>
<app-header-footer></app-header-footer>
