<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Terms & Conditions</h1>
      <!-- <div class="common-bredcrumb">
          <ol class="breadcrumb">

              <li class="breadcrumb-item active">User Management</li>
          </ol>

      </div> -->
  </div>
  <!-- Page Title End -->
  <div class="content-section">
      <div class="outer-box">

          <!-- Gloabl Table Box Start -->
          <div class="global-table no-radius p0">

              <div class="tab-content1">
                  <div class="tab-pane1">
                      <div class="table-responsive">
                          <table class="table table-bordered">
                              <thead>
                                  <tr class="no_wrap_th">
                                    <th>Sr. No.</th>
                                      <th>Page Name </th>
                                      <th class="action_td_btn3">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td>1</td>
                                      <td>About Us</td>
                                      <td class="action_td_btn3">
                                          <a (click)='view("a")'  data-toggle="View"  ><i class="cursor fa fa-eye"></i>
                                            <span class="icon-tooltip">view</span></a>
                                          <a (click)='edit("a")'  data-toggle="Edit"  ><i class="cursor fa fa-edit"></i>
                                            <span class="icon-tooltip">edit</span></a>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                      <td>Terms & Services</td>
                                      <td class="action_td_btn3">
                                          <a (click)='view("t")'  data-toggle="View"  ><i class="cursor fa fa-eye"></i>
                                        <span class="icon-tooltip">view</span></a>
                                          <a (click)='edit("t")'  data-toggle="Edit"  ><i class="cursor fa fa-edit"></i>
                                        <span class="icon-tooltip">edit</span></a>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                      <td>Privacy policy</td>
                                      <td class="action_td_btn3">
                                          <a (click)='view("p")'  data-toggle="View"  ><i class="cursor fa fa-eye"></i>
                                        <span class="icon-tooltip">view</span></a>
                                          <a (click)='edit("p")'  data-toggle="Edit"  ><i class="cursor fa fa-edit"></i>
                                        <span class="icon-tooltip">edit</span></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
  <!-- Table Responsive End -->
</main>
<!-- Middle Content End -->
<app-header-footer></app-header-footer>
