 <!-- Sidebar Start Here-->
 <div id="sidebar-wrapper">
  <div class="sidemenuwrap">
    <div class="userprofilebx clearfix">
      <div class="usercirbx"> <img src="../../assets/img/user_img.jpg" width="230" height="222" alt="" /> </div>
      <div class="userpnm">
        <h4>Johnathan Doe</h4>
        <h5>Owner</h5>
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:void(0);">Dashboard</a></li>
      <li class="orders dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Orders<span class="orders">3</span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">Orders List</a></li>
          <li><a href="javascript:void(0);">Abandoned Checkouts</a></li>
          <li><a href="javascript:void(0);">Cancelled Orders</a></li>
        </ul>
      </li>
      <li class="products dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Products</a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);">All Products</a></li>
          <li><a href="javascript:void(0);" (click)=addProduct() >Add Products</a></li>
          <li><a href="javascript:void(0);">Inventory</a></li>
        </ul>
      </li>
      <li><a href="javascript:void(0);">Reports</a></li>
      <li><a href="javascript:void(0);">Sales & Offers<span class="salesoffers">4</span></a></li>
      <li><a href="javascript:void(0);">My Earnings</a></li>
      <li><a href="javascript:void(0);">Notifications <span class="notification">8</span></a></li>
      <li><a href="javascript:void(0);">Reviews & Feedbacks <span class="feedback">8</span></a></li>
    </ul>
    <div class="settingsbx">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0);">My Account</a></li>
        <li><a href="javascript:void(0);">Settings</a></li>
        <li><a href="javascript:void(0);">Live Chat</a></li>
      </ul>
    </div>
  </div>
</div>
<!--sidebar-End -->