<main class="middle-content">
  <!-- Page Title Start -->
  <div class="page_title_block">
      <h1 class="page_title">Merchant Management</h1>

  </div>
  <!-- Page Title End -->
  <div class="content-section dashboard-block">
    <div class="sec_head_new sec_head_new_after">
            <form [formGroup]='filterForm'>
        <div class="row align-items-center">
            
          <div class="col-md-6 col-xl-3">
              <div class="filter_search mb10">
                <div class="input-group filter_search_group">
                    <input type="text" class="form-control" placeholder="Search by name and Email-ID" id='searchData' formControlName='search'>
                    <div class="input-group-append">
                            <i class=" btn_search_group fas fa-times cursor" (click)='clearSearch()'></i> 
                        </div>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-xl-2">
              <div class="text-left mb10">
                  <button type="submit" class="btn  btn-theme cursor" (click)='search()'>Search</button>
              </div>
          </div>
         
      </div>
    </form>
    </div>
     <div class="custom_tabs common-tabs">
         <div class="row mb20 justify-content-center">
            <div class="col-sm-6">
                <ul class="nav nav-tabs d-flex  justify-content-center text-center">
                    <li class="nav-item flex-fill">
                        <!-- <a class="nav-link active show" data-toggle="tab" href="#tab1" (click)='getTab1()'></a> -->
                        <a class="nav-link  show cursor" [ngClass]="{'active': currTab == 1}" (click)='toggleTab(1)'>
                         Current
                        </a>
                    </li>
                    <li class="nav-item flex-fill" >
                        <a class="nav-link show cursor" [ngClass]="{'active': currTab == 2}" (click)='toggleTab(2)'>
                         Pending
                        </a>
                    </li>
                 </ul>
            </div>
          </div>
         <div class="tab-content">
          
             <div class="tab-pane " [ngClass]="{'active show': currTab == 1}" id="tab1" *ngIf="currTab == 1">

                <div class="clearfix mb10">
                    <div class="show-txt f-left">
                            <span>Show </span>
                           
                            <select name="" class="form-control form-control2 select_opt" id='itemsPP' (change)='limitChange()'>
                              <option value="5" selected="">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                          </select>
                            <span> from all</span>
                          </div>



                    <div class="f-right">
                            <a class="btn btn-primary" (click)='addMerchant()' style="color: white; cursor: pointer;">
                               <i class="fa fa-plus"></i> Add Merchant
                            </a>
                         </div>
                </div>
                         <div class="global-table no-radius p0">
                <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                          <tr class="no_wrap_th">
                            <th>Merchant ID</th>
                              <th>Merchant First Name</th>
                              <th>Merchant Last Name</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      
                      <tbody>
                          <tr *ngFor='let merchant of merchants | paginate: { itemsPerPage: itemPP, currentPage: currPage1, totalItems: pageSize1 } '>
                              <td>{{merchant.merchantId}}</td>
                              <td>{{merchant.fName}}</td>
                              <td>{{merchant.lName}}</td>
                              <td class="action_td_btn3">
                                    <a (click)='view(merchant)' class="cursor" data-toggle="View"  ><i class="fa fa-eye"></i>
                                        <span class="icon-tooltip">view</span></a>
                                     <a (click)='edit(merchant)'  class="cursor" data-toggle="Edit"  ><i class="fa fa-edit"></i>
                                        <span class="icon-tooltip">edit</span></a>
                                     <a (click)='ban(merchant)'  class="cursor" data-toggle="Block" ><i class="fa fa-ban"></i>
                                        <span class="icon-tooltip">block</span></a>
                                     <a (click)='delete(merchant)'  class="cursor" data-toggle="Delete"  ><i class="fa fa-trash"></i>
                                        <span class="icon-tooltip">delete</span></a>
                                </td>
                          </tr>
                          <tr *ngIf="!merchants.length">
                            <td colspan="4" class="text-center">No data found.</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
                </div>
                <div class="custom-pagination mt20 text-right">
                          <nav aria-label="Page navigation example">
                                <div class="pagination_block" *ngIf="merchants.length ">
                                        <ul class="pagination">
                                          <pagination-controls (pageChange)="changePage1($event)"></pagination-controls>
                                        </ul>
                                </div>
                          </nav>
                      </div>
             </div>
             <div class="tab-pane" id="tab2" [ngClass]="{'active show': currTab == 2}" *ngIf="currTab == 2">
                    <div class="show-txt f-left mb10">
                            <span>Show </span>
                           
                            <select name="" class="form-control form-control2 select_opt" id='itemsPP' (change)='limitChange()'>
                              <option value="5" selected="">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                          </select>
                            <span> from all</span>
                          </div>
                 <div class="global-table no-radius p0">
                    <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="no_wrap_th">
                                <th>Merchant ID</th>
                                <th>Merchant First Name</th>
                                <th>Merchant Last Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        
                        <tbody>                        
                            <tr *ngFor='let pending of pendingMerchants | paginate: { itemsPerPage: itemPP, currentPage: currPage2, totalItems: pageSize2 } '>
                                <td>{{pending.merchantId}}</td>
                                <td>{{pending.fName}}</td>
                                <td>{{pending.lName}}</td>
                                <td>
                                    <button class="btn btn-info btn-sm cursor" (click)='approve(pending)' data-toggle="modal" data-target="#payment">Approve</button>
                                    <button class="btn btn-info btn-sm cursor" (click)='notapprove(pending)' data-toggle="modal" data-target="#delet_farms_modal">Reject</button>
                                    <button class="btn btn-info btn-sm cursor" (click)='viewMer(pending)' data-toggle="modal" data-target="#view_farms_modal">View</button>
                                </td>
                            </tr>
                            <tr *ngIf="!pendingMerchants.length">
                                <td colspan="4" class="text-center">No data found.</td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
            </div>
               <div class="custom-pagination mt20 text-right">
                          <nav aria-label="Page navigation example">
                                <div class="pagination_block" *ngIf="pendingMerchants.length ">
                                        <ul class="pagination">
                                          <pagination-controls (pageChange)="changePage2($event)"></pagination-controls>
                                        </ul>
                                </div>
                          </nav>
                </div>
             </div>

         </div>
     </div>
  
  </div>
</main>
<!-- Middle Content End -->
<app-header-footer></app-header-footer>
<div class="modal fade global-modal reset-modal" id="block_modal">
        <div class="modal-dialog max-WT-500">
            <div class="modal-content">
                <div>
                    <!-- Modal body -->
                    <div class="modal-body  text-center">
                        <div class="row align-items-center modal_flax_height">
                            <div class="col">
                                <div class="box-title mb40 d-inline-block">
                                    <i class="fas fa-ban off-icon"></i>
                                    <p class="mt40">Are you sure you want to block this merchant ?</p>
                                </div>
                                <div class="text-center">
                                    <a  style="color: white; cursor: pointer; margin-right: 10px;" class="btn btn-blue btn-noYes" data-dismiss="modal" >BACK</a>
                                    <a  style="color: white; cursor: pointer;" (click)='blockYes()' class="btn btn-red btn-noYes" data-dismiss="modal">YES</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade global-modal reset-modal" id="delete_modal">
            <div class="modal-dialog max-WT-500">
                <div class="modal-content">
                    <div>
                        <!-- Modal body -->
                        <div class="modal-body  text-center">
                            <div class="row align-items-center modal_flax_height">
                                <div class="col">
                                    <div class="box-title mb40 d-inline-block">
                                        <i class="fas fa-trash off-icon"></i>
                                        <p class="mt40">Are you sure you want to delete merchant ?</p>
                                    </div>
                                    <div class="text-center">
                                        <a data-dismiss="modal" class="btn btn-blue btn-noYes" style="color: white; cursor: pointer; margin-right: 10px;" >BACK</a>
                                        <a (click)='deleteYes()' class="btn btn-red btn-noYes" style="color: white; cursor: pointer;">YES</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade global-modal reset-modal" id="delet_farms_modal">
            <div class="modal-dialog max-WT-500">
                <div class="modal-content">
                    <div class="inner_border_area">
                        <!-- Modal body -->
                        <div class="modal-body  text-center">
                            <div class="row align-items-center modal_flax_height">
                                <div class="col">
                                    <div class="box-title mb40 d-inline-block">
                                        <h2>Are you sure?</h2>
                                        <p>You won’t be able to revert this!</p>
                                    </div>
                                    <div class="max-WT-300 d-inline-block">
                                        <button type="button" style="margin-right: 10px;" class="btn btn-gray btn-large radius0 btn-block" (click)='reject()'>YES</button>
                                        <button type="button" class="btn btn-red btn-large radius0 btn-block" data-dismiss="modal">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade global-modal reset-modal" id="view_farms_modal">
                <div class="modal-dialog max-WT-500">
                    <div class="modal-content">
                        <div class="inner_border_area">
                            <!-- Modal body -->
                            <div class="modal-body  text-center">
                                    <div class="main-block-innner mb40 mt40">
                                                                                                   
                                                <div class="form-group row align-items-start">
                                                    <label class="col-md-6"> Name :</label>
                                                    <div class="col-md-6">
                                                        <label>{{profile?.fName}} {{profile?.lName}}</label>
                                                    </div>
                                                </div>                                              
                                                <div class="form-group row align-items-start" *ngIf='profile?.email_ID'>
                                                    <label class="col-md-6">Email :</label>
                                                    <div class="col-md-6">
                                                        <label>{{profile?.email_ID}}</label>
                                                    </div>
                                                </div>
                                             
                                                <div class="form-group row align-items-start">
                                                    <label class="col-md-6">Address :</label>
                                                    <div class="col-md-6">
                                                        <label>{{profile?.location.place}}</label>
                                                    </div>
                                                </div>                                               
                                                <div class="form-group row align-items-start" *ngIf='profile?.merchantWebsite'>
                                                    <label class="col-md-6">Merchant Website :</label>
                                                    <div class="col-md-6">
                                                        <label>{{profile?.merchantWebsite}}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row align-items-start" *ngIf='profile?.companyName'>
                                                    <label class="col-md-6">Company Name :</label>
                                                    <div class="col-md-6">
                                                        <label>{{profile?.companyName}}</label>
                                                    </div>
                                                </div>
                                                <div class="text-center mt40">                                                   
                                                    <a data-dismiss="modal" class="btn btn-large  max-WT-200 font-100 btn-grey ml5">Back</a>
                                                </div>
                                           
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>