<div class="login-wrapper">
  <div class="container-common">
     <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center minheight70vh">
        <form class="login_box_outer w-100" action="login-validation.html">
          <div class="login-box max-WT-520">
              <div class="login-right-block">
                <div class="login-heading">
                   <h4>LOGIN</h4>
                </div> 
                <form [formGroup]='loginForm'>
                <div class="login-box-body">
                  <div class="form-group" >
                      <input type="email" class="form-control" placeholder="Email*" formControlName='email' maxlength="64" id='email' />
                      <div class="errMsg" *ngIf="loginForm.get('email').dirty && loginForm.get('email').invalid"> 
                          <span [ngClass]="{error:loginForm.get('email').hasError('required')}" *ngIf="loginForm.get('email').hasError('required')">*Please enter email.</span>
                          <span  [ngClass]="{error:loginForm.get('email').hasError('pattern')}" *ngIf="loginForm.get('email').hasError('pattern')">*Please enter valid email.</span>
                      </div>
                    </div>
                    <div class="form-group" >
                      <input type="password" class="form-control " placeholder="Password*"  formControlName='password' maxlength="16"   id='password'/>
                      <div class="errMsg" *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid"> 
                          <span  [ngClass]="{error:loginForm.get('password').hasError('required')}" *ngIf="loginForm.get('password').hasError('required')">*Please enter the password.</span>
                          <span  [ngClass]="{error:loginForm.get('password').hasError('pattern')}" *ngIf="loginForm.get('password').hasError('pattern')">*Please enter valid password.</span>
                          <span  [ngClass]="{error:loginForm.get('password').hasError('minlength')}" *ngIf="loginForm.get('password').hasError('minlength')">*Password must be of minimum 8 characters.</span>
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                          <div class="remember-text ">
                            <label class="checkbox-design">
                              <input type="checkbox"  formControlName='remember'/><span></span>Remember me
                            </label>
                          </div>
                        </div>
                       <!--  <div class="text-right">
                           <a href="forgot-password.html" class="forget-pass">Forgot Password?</a>
                        </div> -->
                        <div class="col-6">
                          <div class="forgot-links">
                            <a [routerLink]="['/forgot-password']">Forgot Password?</a>
                          </div>
                        </div>
                    </div>
                  </div>
                </form>
                    <div class="text-center mt40">
                      <button  type='submit' class="btn btn-login btn-large  width100 font-100" (click)='login()' [disabled]='loginForm.invalid' >LOGIN</button>
                    </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
<footer class="before-login">
  <p>Copyright © 2018 BMCT  All rights reserved.</p>
</footer>