<main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Merchant Management</h1>
    </div>
    <!-- Page Title End -->
    <div class="content-section">
        <form class="login_box_outer" [formGroup]='merchantForm'>
            <div class="order-view mt30 max-WT-700 mrgn-0-auto">
            <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>First Name </label>
                            <div>
                                <input type="text" class="form-control"  formControlName='fname' >
                            </div>
                       </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Last Name </label>
                        <div>
                            <input type="text" class="form-control " formControlName='lname' >
                        </div>
                      </div>  
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Email </label>
                        <div>
                            <input type="email" class="form-control " formControlName='email' >
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Password </label>
                        <div>
                            <input type="text" class="form-control " formControlName='password' >
                        </div>
                      </div>  
                    </div>
                    <div class="form-group">
                       <label>Phone No. </label>
                        <div class="row">
                          <div class="col-md-4">
                             <select class="form-control select2" formControlName='prefix' >
                                <option *ngFor="let country of codeArray" [value]="country.code">{{country.code}} ( {{country.country}} )</option> 
                             </select>
                          </div> 
                          <div class="col-md-8">
                              <input type="text" class="form-control " formControlName='phoneNum' >
                          </div> 
                        </div>
                    </div>
                    <div class="form-group">
                       <label>Address</label>
                        <div class="row">
                          <div class="col-md-12">
                             <select class="form-control select2" formControlName='country' (change)='countryChange(merchantForm.value.country)'>
                                    <option *ngFor="let country of countryArray" [value]="country.country">{{country.country}}</option> 
                             </select>
                          </div> 
                          <div class="col-md-6 mt10">
                             <select class="form-control select2" formControlName='state'>
                                    <option *ngFor="let state of stateArray" [value]="state">{{state}}</option> 
                             </select>
                          </div> 
                          <div class="col-md-6 mt10">
                              <input type="text" class="form-control " formControlName='addLine1' >
                          </div>
                     
                        </div>
                    </div>
                     <div class="form-group row">
                      <div class="col-md-12">
                        <label>Merchant Website </label>
                        <div>
                            <input type="text" class="form-control " formControlName='website' >
                        </div>
                      </div>  
                    </div>
                    <label class="col-md-5">Merchant Logo :</label>
                          <div class="col-md-7">
                              <div class="user-profile ">
                                 <div class="image-box mb0">
                                     <img [src]="imageUrl" class="profile-pic"> 
                                      <label class="upload-label">
                                       <input type="file" name="" formControlName='image' (change)='fileSelect($event)' accept="image/jpeg,image/jpg,image/png,image/ico">
                                        <i class="fas fa-camera"></i>
                                        <div class="errMsg" *ngIf="merchantForm.get('image').dirty && merchantForm.get('image').invalid"> 
                                                <span  [ngClass]="{error:merchantForm.get('image').hasError('required')}" *ngIf="merchantForm.get('image').hasError('required')">*Please select banner image.</span>
                                        </div>
                                    </label>
                                </div>
                              </div>
                          </div>
                    
                    
                    <div class="text-center mt40">
                      <a (click)='back()' class="btn btn-large  max-WT-200 font-100 btn-grey ml5">Back</a>
                        <button (click)='save()' class="btn btn-large  max-WT-200 font-100 btn-green" [disabled]='merchantForm.invalid'>Save</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>
<app-header-footer></app-header-footer>
