<main class="middle-content">
    <!-- Page Title Start -->
    <div class="page_title_block">
        <h1 class="page_title">Subadmin View </h1>
    </div>
    <!-- Page Title End -->
    <div class="content-section">
        <form class="login_box_outer" >
          <div class="order-view mt30 max-WT-700 mrgn-0-auto">
            <div class="main-block-innner mb40 mt40">
                <div class="add-store-block input-style">
                  <div class="user-profile">
                     <div class="image-box">
                         <img src="{{profile?.image || 'assets/img/profile-img.jpg'}}" class="profile-pic"> 
                    </div>

                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Name :</label>
                        <div class="col-md-6">
                            <label>{{profile?.name}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Email :</label>
                        <div class="col-md-6">
                            <label>{{profile?.email}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Phone No :</label>
                        <div class="col-md-6">
                            <label>{{profile?.phoneNumber}}</label>
                        </div>
                    </div>
                    <div class="form-group row align-items-baseline">
                        <label class="col-md-6">Access Given :</label>
                        <div class="col-md-6" >
                            <label class="mb5" *ngFor='let access of profile?.access; let i=index' > 
                                <div *ngIf='access != "BLOCK"'>
                                <p *ngIf='access === "merchantManagement"'>Merchant Management </p>
                                <p *ngIf='access === "bannerManagement"'>Banner Management </p>
                                <p *ngIf='access === "staticContentManagement"'>Static Content Management </p> 
                            </div>
                            <div *ngIf='access === "BLOCK"'>
                                    <p >{{access}}</p>
                            </div >
                            </label>

                            <!-- <label>Edit Merchant Management</label> -->
                        </div>
                    </div>
                    <div class="text-center mt40">
                        <a  [routerLink]="['/subadmin-add']" class="btn btn-large  max-WT-200 font-100 btn-green">Edit</a>
                        <a  [routerLink]="['/subadmin-management']" class="btn btn-large  max-WT-200 font-100 btn-grey ml5">Back</a>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</main>
<app-header-footer></app-header-footer>
