
    <div >
        <header class="header">
            <nav class="navbar clearfix">
                <div class="logo-box">
                    <a class="navbar-brand logo" (click)='dashoboard()'>
                        <img src="assets/img/logo.png" alt="logo" class="lg-logo">
                        <!-- <img src="assets/img/sm-logo.png" alt="logo" class="sm-logo"> -->
                    </a>

                </div>
                <div class="header-right-part">
                    <button class="btn btn-toggle" type="button" (click)='openSideMenu()'>
                                <i class="fas fa-bars" ></i>
                            </button>
                    <button class="btn btn-outline-secondary btn-mobsearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </nav>
        </header>
        <!-- Header End -->

        <aside class="sidebar">
            <div class="sidebar-scroller">
                <!--Accordion Start -->
                <div id="accordion" class="sidebar-menu">
                   <!--  <div class="user-panel clearfix">
                        <div class="pull-left image">
                            <img src="assets/img/user-img.png" class="img-circle" alt="User Image">
                            <a href="#" class="online-icon"><i class="fa fa-circle text-success"></i></a>
                        </div>
                        <div class="pull-left info mt10">
                          <a href="profile.html">
                            <p>Welcome</p>
                            <h4>Arvind</h4>
                          </a>
                        </div>
                    </div> -->
                    <!-- menu-box Start -->
                    <div class="menu-box active" [ngClass]="{'active': activeTab =='dashboard'}">
                        <div class="card-header clearfix" id="headingOne">
                            <a class="side_menu" style="color: white; cursor: pointer;" (click)='dashoboard()'>
                                <span class="side_menu_icon"><!-- <i class="fas fa-tachometer-alt"></i> -->
                                    <img src="assets/img/dashboard-icon.png" alt="icon"/>
                                </span>
                                <span class="side_page_name">Dashboard</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu-box End -->
                    <!-- menu-box Start -->
                    <div class="menu-box" [ngClass]="{'active': activeTab =='merchant-management'}" *ngIf="isInclude('merchantManagement')">
                        <div class="card-header clearfix" id="headingTwo">
                            <a class="side_menu" style="color: white; cursor: pointer;" (click)='merchant_management()'>
                                <span class="side_menu_icon"><!-- <i class="fas fa-users"></i> -->
                                    <img src="assets/img/user-manage.png" alt="icon"/>
                                </span>
                                <span class="side_page_name">Merchant Management</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu-box End -->
                     <!-- menu-box End -->
                     <div class="menu-box" [ngClass]="{'active': activeTab =='subadmin-management'}" *ngIf="isInclude('sub')">
                            <div class="card-header clearfix" id="headingTwo">
                                <a class="side_menu" style="color: white; cursor: pointer;" (click)='subadmin_management()'>
                                    <span class="side_menu_icon"><!-- <i class="fas fa-users"></i> -->
                                        <img src="assets/img/avatar.png" alt="icon"/>
                                    </span>
                                    <span class="side_page_name">Sub Admin Management</span>
                                </a>
                            </div>
                        </div>
                        <!-- menu-box End -->
                           <!-- menu-box Start -->
                           <div class="menu-box" [ngClass]="{'active': activeTab =='banner-management'}" *ngIf="isInclude('bannerManagement')">
                            <div class="card-header clearfix" id="headingThree">
                                <a class="side_menu" style="color: white; cursor: pointer;" (click)='banner_management()'>
                                    <span class="side_menu_icon"><!-- <i class="fas fa-users"></i> -->
                                        <img src="assets/img/banner-icon.png" alt="icon"/>
                                    </span>
                                    <span class="side_page_name">Banner Management</span>
                                </a>
                            </div>
                        </div>
                        <!-- menu-box End -->
                     <!-- menu-box Start -->
                    <div class="menu-box" [ngClass]="{'active': activeTab =='static-contents'}" *ngIf="isInclude('staticContentManagement')">
                        <div class="card-header clearfix" id="headingThree">
                            <a class="side_menu" style="color: white; cursor: pointer;" (click)='static_contents()'>
                                <span class="side_menu_icon"><!-- <i class="fas fa-users"></i> -->
                                    <img src="assets/img/static-content.png" alt="icon"/>
                                </span>
                                <span class="side_page_name">Statics Content Management</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu-box End -->
                     <!-- menu-box Start -->
                    <div class="menu-box" [ngClass]="{'active': activeTab =='change-password'}">
                        <div class="card-header clearfix" id="headingThree">
                            <a class="side_menu" style="color: white; cursor: pointer;" (click)='change_password()'>
                               <!--  <span class="side_menu_icon">
                                    <img src="assets/img/envelope.png" alt="icon"/>
                                </span> -->
                                <span class="side_menu_icon">
                                    <i class="fas fa-unlock-alt"></i>
                                </span>
                                <span class="side_page_name">Change Password</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu-box End -->
                  
                    
                     
                    <!-- menu-box Start -->
                    <div class="menu-box" [ngClass]="{'active': activeTab =='logout'}">
                        <div class="card-header clearfix">
                            <a class="side_menu" style="color: white; cursor: pointer;" (click)='logout()'  href="#signout_modal" data-toggle="modal">
                                    <!-- <a class="side_menu" href="#signout_modal" (click)='dashoboard()'  data-toggle="modal"> -->
                                <span class="side_menu_icon"><!-- <i class="fas fa-sign-out-alt"></i> -->
                                    <img src="assets/img/logout.png" alt="icon"/>
                                </span>
                                <span class="side_page_name">Logout</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu-box End -->
                </div>
                <!--Accordion End -->
            </div>
        </aside>
        <!-- Aside End -->

        <footer>
            <div class="container-fluid">
                <p>Copyright © 2018 BMCT  All rights reserved.</p>
            </div>
        </footer>
        <!-- Footer Finish -->
    </div>
    <!-- Wrapper End -->
    <!--Modal Start-->

    <!-- signout_modal Start -->
    <div class="modal fade global-modal reset-modal" id="signout_modal">
        <div class="modal-dialog max-WT-500">
            <div class="modal-content">
                <div>
                    <!-- Modal body -->
                    <div class="modal-body  text-center">
                        <div class="row align-items-center modal_flax_height">
                            <div class="col">
                                <div class="box-title mb40 d-inline-block">
                                    <i class="fas fa-power-off off-icon"></i>
                                    <p class="mt40">Are you sure you want to logout?</p>
                                </div>
                                <div class="text-center">
                                    <a style="color: white; cursor: pointer;" (click)='logoutYes()' class="btn btn-blue btn-noYes">YES</a>
                                    <button style="color: white; cursor: pointer;" type="button" class="btn btn-red btn-noYes" data-dismiss="modal">CANCEL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signout Modal -->
