<div class="login-wrapper">
  <div class="container-common">
     <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center minheight70vh">
        <form class="login_box_outer w-100" action="forgot-password-validation.html">
          <div class="login-box max-WT-520">
              <div class="login-right-block">
                <form [formGroup]='resetForm'>
                <div class="login-heading">
                   <h4>FORGOT PASSWORD</h4>
                   <h4 class="f-size-18">Reset Password</h4>
                </div>
                <div class="login-box-body">
                  <div class="form-group">
                      <label class="col-md-5"><span style="color: red">*</span>Passowrd :</label>
                      <input type="password" class="form-control" placeholder="Password" formControlName='newPassword'/>
                      <div class="errMsg" *ngIf="resetForm.get('newPassword').dirty && resetForm.get('newPassword').invalid"> 
                          <span  [ngClass]="{error:resetForm.get('newPassword').hasError('required')}" *ngIf="resetForm.get('newPassword').hasError('required')">*Please enter password.</span>
                          <span  [ngClass]="{error:resetForm.get('newPassword').hasError('minlength') && !resetForm.get('newPassword').hasError('required')}" *ngIf="resetForm.get('newPassword').hasError('minlength') && !resetForm.get('newPassword').hasError('required')">*Password must be of minimum 8 characters.</span>
                       </div>
                  </div>
                  <div class="form-group">
                      <label class="col-md-5"><span style="color: red">*</span>Confirm Password :</label>
                      <input type="password" class="form-control" placeholder="Confirm Password" formControlName='confirmPassword'/>
                      <div class="errMsg" *ngIf="resetForm.get('newPassword').value && resetForm.get('confirmPassword').value">                          
                          <span  [ngClass]="{error:resetForm.get('newPassword').value != resetForm.get('confirmPassword').value }" *ngIf='resetForm.get("newPassword").value != resetForm.get("confirmPassword").value '>*Password and confirm password does not match. </span>
                       </div>
                  </div>
                  </div>
                    <div class="text-center mt40">
                      <button (click)='submit()' class="btn btn-login btn-large  width100 font-100" [disabled]='resetForm.invalid || (resetForm.get("newPassword").value != resetForm.get("confirmPassword").value)' >SUBMIT</button>
                    </div>
                  </form>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>


